*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }

.element{
    border: 1px solid black;
    width: 50px;
    height: 100px;
    box-shadow: 2px 2px;
}

.btn{
  margin: 40px;
}

.row{
  display: flex;
  justify-content: center;
}

.note{
  height: 50px;
  width: 50px;
  border: 2px solid #000000;
  padding: 10px;
  margin: 10px;
  background-color: lightyellow;
}

.shadow{
  box-shadow: 5px 5px 5px #555;
  position: relative;
  bottom: 5px;
  cursor: pointer;
}