*{
    padding: 0px;
    margin: 0px;
    font-size: 100%;
    box-sizing: border-box;
}

.card{
    display: flex;
    width: 500px;
    border: 2px solid #999;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 20px;
    background-color: #2abdbd;
    margin-bottom: 10px;
}

.card img{
    height: 128px;
    border-radius: 50px;
}

p{
    margin: 10px 0px 0px 0px;
}